<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            background-image: linear-gradient(45deg, transparent 0%, transparent 55%,rgba(64, 64, 64,0.04) 55%, rgba(64, 64, 64,0.04) 76%,transparent 76%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 14%,rgba(64, 64, 64,0.04) 14%, rgba(64, 64, 64,0.04) 41%,transparent 41%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 2%,rgba(64, 64, 64,0.04) 2%, rgba(64, 64, 64,0.04) 18%,transparent 18%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 61%,rgba(64, 64, 64,0.04) 61%, rgba(64, 64, 64,0.04) 71%,transparent 71%, transparent 100%),linear-gradient(90deg, rgb(225,225,225),rgb(225,225,225));
        }

        .container {
            padding: 20px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 48px; /* Add space after the container */
            width: 80%;
            align-self: center;
        }

        .container-wrapper {
            height: 100vh; /* Set wrapper height to 100vh (viewport height) */
            display: flex; /* Use flexbox for layout */
            flex-direction: column; /* Stack elements vertically */
            margin-top: 64px;
        }


        h2, h1 {
            margin-top: 0;
            text-align: center;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input[type="email"], input[type="password"], button {
            margin-bottom: 10px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        input[type="file"] {
            cursor: pointer;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        button:active {
            background-color: #0056b3;
            transform: translateY(1px);
        }

        .error {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container-wrapper">
        <h1>JAIN SAMNOPASAK SCHOOL Website Documents Manager</h1>
        <br>
        <div class="container">
          <h2>Enter the Username and the password</h2>
          <form id="uploadForm" action="/" method="post"> 
            <input type="email" id="email" name="username" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Password">
            <button type="submit">Signin</button>
          </form>
        </div>
        
    </div>
    

    
    
    
</body>
</html>
